{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Future Contest</title>
    <link rel="stylesheet" href="{% static 'base.css'%}">
</head>
<body>
    <div id="nav-bar">
        {% block header %}
            <ul>
            {% if user.is_authenticated %}
                <li><a href="#"> {% trans "Logged in" %} {{ user.username }} </a></li>
                <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
                <li><a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a></li>
            {% else %}
                <li><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></li>
            {% endif %}
        </ul>
        {% endblock %}

    </div>

</body>
</html>